<template>
   <v-app id="inspire">
      <v-main >
         <v-container fluid fill-height>
            <v-layout align-center justify-center>
               <v-flex xs12 sm8 md4>
                  <v-card class="elevation-20">
                    <v-toolbar dark color="purple" rounded>
                        <v-toolbar-title>
                          <v-btn color="transparent" @click="change_screen"> 
                            Insert Your Name: 
                          </v-btn>
                        </v-toolbar-title>
                        <v-divider vertical class="ml-5"/>
                        <v-spacer />
                        <v-divider vertical class="mr-5"/>
                        <v-toolbar-title>
                          <v-btn color="transparent" @click="change_screen"> 
                            Select Account
                          </v-btn>
                        </v-toolbar-title>
                    </v-toolbar>
                    <v-card-text>
                      <v-form>
                        <v-text-field
                        label="Name"
                        type="text"
                        v-show="!changeScreen"
                        >
                        </v-text-field>
                        <v-btn
                        v-show="changeScreen"
                        >
                        </v-btn>
                        <v-btn align-center justify-center depressed>
                          Sing In
                        </v-btn>
                      </v-form>
                    </v-card-text>
                  </v-card>
               </v-flex>
            </v-layout>
         </v-container>
      </v-main>
   </v-app>
</template>
<script>
export default {
  name: 'App',
  data: () => ({
    changeScreen: false
  }),
  methods: {
    change_screen () {
      this.changeScreen = !this.changeScreen
    }
  }
};
</script>

